/*
Name: Sue Calarco
Date: 11/27/2025
File: Styles
*/

/*Reset style*/
body,header,nav,main,img,h1, h2, h3, h4, footer, li, ul, video, music, article, form, a{
margin:0;
padding:0;
border:0;
}
/*Style rules for the body/look*/
body{background-color:#1a1a1a;}

.banner-container{
	background-image: url("../images/banner.jpeg");
	background-size: cover;
	background-position: 100% 55%;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;

}

.banner-content h1{
	font-size: 5.25em;
	text-shadow: 2px 2px 5px black;
	
}

@media (max-width: 768px){
	.banner-container{
		height: 200px;
	}
	.banner-content h1{
		font-size: 2em;
	}
}
index img{
	max-width:50%;
	display:block;
	}

/*Class/ID Defaults*/
#container{
	padding-bottom: 50px;
	display: block;
	
}

#containerR{
	width: 200%;
	object-fit: cover; 
	max-width: 700px;
	height: auto;
	display: block;
	margin: 0 auto;
	
}

#containerL{
	
	
}
.box{border:1px solid #000;
margin: 2%;
padding: 2%;
width: 300px; /
background-color: ##2e004f;}

.link-row {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    gap: 20px;              
    margin: 20px 0;
}


.box2{border:1px solid #000;
	flex: 1;
    max-width: 400px;
    min-width: 150px;
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #b6042a;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.box3{border:1px solid #000;
	flex: 1;
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #b6042a;
    border-radius: 5px;
}

.box2 img{
	width: 100%;
	display: block;
	height: auto;
	
}

.sticky{
	position:-webkit-sticky;
	position: sticky;
	top:0;
}

.relative{
	position: relative;
	top:90px;
	left:30px;
}
.fixed{
	position:fixed;
	top:20px;
	left:15px;
	border-radius: 10px;
	margin: 5px 10px 5px 0px;
	font-size: 1.25em;
	border: 10px;
	background-color:#b6042a;
	
}

.fixed a {
   
    padding: 0.25em 0.75em;
    border-radius: 10px;
    display: inline-block;
	color: #fff;
}

.absolute{
	position:absolute;
	bottom:0;
	right:0;
}

.responsive-img{
	max-width: 100%;
	height: auto;
	display: block;
}

.box2 video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

/*Where the head starts*/
header{text-align:center;
color:#33E9BE;
padding:1%;}

header h1{font-size:3.75em;
margin-bottom: 25px;
font-family:Garamond, Times, serif;}


header h3{
font-style:italic;
font-size:1.25em;
font-family:Garamond, Futura, Arial, sans-serif;}

header nav{
	padding: 5px 5px;
}
nav{
	
	padding: 10px 0;
	
}

nav ul{
list-style-type:none;
margin: 0;
display: flex;
justify-content: center;
gap: 15px;
padding: 0;
margin: 0;


}

nav li{
font-size:1.5em;
font-family:Garamond, Futura, Arial, sans-serif;
font-weight:bold;
}

ul li a{
display: flex;
color:#fff;
text-align:center;
padding:0.5em 1em;
text-decoration:none;
display: block;
}

main ul li a{
display: flex;
color:#fff;
text-align:center;
text-decoration:none;
display: block;

}

.ul{
	list-style-type: none;
	text-align:center;
	
	
}

.ul li a img{
	display: block;
	width: 250px;
	margin: 10px auto 0;
	text-align:center;
	
}

main ul{
	background-color:#b6042a;
}

main article{
	background-color:#630606;
	width: 75%;
	display: block;
	margin: 0 auto;   
    padding: 1.5em;      
    border-radius: 10px;
}
ul li{
	background-color:#b6042a;
	border-radius: 5px;
}

/*The main bit of Boby*/
main{padding:2%;
font-family: georgian, sans-serif;

}

main article p{color:#fff;
background-color:#b6042a;
font-size:1.25em;
border-radius: 5px;
font-family:Garamond, Futura, Arial, sans-serif;
border:1px solid #000;
padding: 15px;
}

main p{color:#fff;
background-color:#b6042a;
font-size:1.25em;
border-radius: 5px;
font-family:Garamond, Futura, Arial, sans-serif;
border:1px solid #000;
padding: 10px;
}

p{color:#fff;
background-color:#b6042a;
font-size:1.25em;
border-radius: 5px;
font-family:Garamond, Futura, Arial, sans-serif;
text-align: center;

}

label{
	font-size:1.25em;
	padding-bottom:10px;
	font-family:Garamond, Futura, Arial, sans-serif;
	
	
}

submit{
	font-size:1.25em;
	padding-bottom:10px;
	font-family:Garamond, Futura, Arial, sans-serif;
}

main h2{
	font-family:Garamond, Times, serif;
	padding: 0.35em;
	font-size: 1.75em;
	text-align: center;
	color: #fff;
	
}

main h3{
	font-family:Garamond, Times, serif;
	padding: 0.5em;
	font-size: 1.30em;
	text-align: center;
	color: #fff;
	background-color:#b6042a;
	border:1px solid #000;
}

main a{
	text-decoration:none;
	color: #fff;
	font-weight:bold;
	font-family:Garamond, Futura, Arial, sans-serif;
	font-size: 1.50em;
	text-align: center;
	
	
}

main ul{list-style-type:square;
font-size:1.25em;
font-family:Garamond, Futura, Arial, sans-serif;
}

form{
	color: #fff;
	font-family:Garamond, Futura, Arial, sans-serif;
	margin: auto 0;
	padding-left: 50px;
	border-radius: 10px;

}

input{
		width: 55%;
		max-width: 100%;
		border:1px solid #000;
		padding: 10px;
		box-sizing: border-box;
}

textarea{
	width: 100%;
    max-width: 90%;
    box-sizing: border-box;
	height: 250px;
}

small{color:#fff;
font-size:.85em;
}

h3{
font-style:none;
font-size:1.25em;
font-family:Garamond, Futura, Arial, sans-serif;}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;                
    margin-top: 10px;
	background-color:#b6042a;
	border-radius: 10px;
}

.social-links img {
    display: block;
	background-color:#b6042a;
	gap: 25px;                
    margin-top: 20px;
}

table {
    width: 90%;
	max-width: 1200px;
	margin: 0 0 0 65px;
    border-collapse: collapse;
    font-family: Garamond, Futura, Arial, sans-serif;
}

th, td {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #000;
	font-weight: bold;
	
}

th {
	border-radius: 50px;
    background-color:#630606;
    color: #fff;
    font-size: 1.35em;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 15px;

}

.row .col {
  width: 95%;
  max-width: 1200px;
  background-color: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
   margin-left: 20px;
}



.music{
	display: block;
	margin: auto;

		
}

.video{
	display: block;
	margin: 0 auto;
	float: center;
		
}

.spire-img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
table {
        width: 100%;
    }

 .row .col {
        width: 95%;
        padding: 5px;
    }

 th, td {
        padding: 6px;
        font-size: 0.9em;
    }
}

/*The final Footer parts*/
footer{text-align:center;
font-size:.75em;
background-color:#b6042a;
font-weight:bold;
color: 000;
padding: 7px;
}

footer a{background-color:#b6042a;
color: 000;
text-decoration:none;

}